<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>Pick-up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.399874010275!2d-6.361727684774334!3d53.35399818184007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b9b1327462821!2zNTPCsDIxJzE0LjQiTiA2wrAyMSczNC4zIlc!5e0!3m2!1sen!2sie!4v1671578121887!5m2!1sen!2sie" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <ion-card>
  <ion-card-content>
    <p>Apartment No 109,</p>
    <p>The Hardwicke,</p>
    <p>Church street upper</p>
    <p>Dublin 7</p>
    <p>D07FT26</p>
  </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="success" size="full">Create Pickup</ion-button>
</ion-content>
