<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Food Waste Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list color="success">
  <ion-item color="success">
    <ion-avatar slot="start">
      <img src="../../../assets/icon/avatar-g4226187b6_1280.png">
    </ion-avatar>
    <ion-label>
      <h1>Rahul Sogam</h1>
      <p>Gathered : <span class="money"> $ 10,000</span> </p>
    </ion-label>
  </ion-item>
</ion-list>
<app-pickup-call-card [hasHeader]="true" [hasFooter]="true" status="On Hold" createdAt="12/12/2022" notes="nothing as such"></app-pickup-call-card>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success">
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
